In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('covidMO.csv')

In [3]:
df[['year', 'month']] = df['case_month'].str.split('-', 1, expand=True)

In [4]:
df=df.drop(['res_state','state_fips_code','case_positive_specimen_interval','case_onset_interval','current_status','process','exposure_yn'], axis=1)

In [5]:
df.head()

,case_month,res_county,county_fips_code,age_group,sex,race,ethnicity,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn,year,month
0,2021-07,LACLEDE,29105,50 to 64 years,NaN,NaN,NaN,Symptomatic,Unknown,Missing,NaN,NaN,2021,07
1,2022-01,PHELPS,29161,0 - 17 years,Female,NaN,NaN,Missing,Unknown,Missing,Unknown,NaN,2022,01
2,2020-08,WASHINGTON,29221,0 - 17 years,Female,NaN,NaN,Missing,Unknown,Missing,Unknown,NaN,2020,08
3,2020-06,AUDRAIN,29007,18 to 49 years,Female,NaN,NaN,Symptomatic,Unknown,Missing,Unknown,NaN,2020,06
4,2021-07,LAWRENCE,29109,18 to 49 years,Male,NaN,NaN,Missing,Unknown,Missing,Unknown,NaN,2021,07

In [6]:
df.to_csv('covidMOclean.csv',index=False)

In [20]:
for col in df.columns:
    display(df[col].value_counts(dropna=False))

GREENE            53908
JACKSON           51832
JEFFERSON         44763
BOONE             36257
CLAY              20587
CASS              19557
COLE              18135
FRANKLIN          17873
BUCHANAN          17022
JASPER            16257
CHRISTIAN         15276
CAPE GIRARDEAU    14518
LINCOLN           11104
CALLAWAY          10524
TANEY             10159
PETTIS             9599
NEWTON             9124
SCOTT              8901
JOHNSON            8777
PHELPS             8170
CAMDEN             7718
PLATTE             7575
BUTLER             6891
WEBSTER            6841
LACLEDE            6577
PULASKI            6563
HOWELL             6297
LAFAYETTE          5873
WARREN             5601
LAWRENCE           5518
DUNKLIN            5378
MILLER             5084
STODDARD           4823
NODAWAY            4666
HENRY              4654
MARION             4472
STONE              4421
SALINE             4406
CRAWFORD           4367
AUDRAIN            4340
BARRY              4323
POLK               4256
RAY                4187
ADAIR              4165
WASHINGTON         4030
MCDONALD           3987
VERNON             3977
RANDOLPH           3636
TEXAS              3385
MORGAN             3340
CLINTON            3228
Name: res_county, dtype: int64

29077    53908
29095    51832
29099    44763
29019    36257
29047    20587
29037    19557
29051    18135
29071    17873
29021    17022
29097    16257
29043    15276
29031    14518
29113    11104
29027    10524
29213    10159
29159     9599
29145     9124
29201     8901
29101     8777
29161     8170
29029     7718
29165     7575
29023     6891
29225     6841
29105     6577
29169     6563
29091     6297
29107     5873
29219     5601
29109     5518
29069     5378
29131     5084
29207     4823
29147     4666
29083     4654
29127     4472
29209     4421
29195     4406
29055     4367
29007     4340
29009     4323
29167     4256
29177     4187
29001     4165
29221     4030
29119     3987
29217     3977
29175     3636
29215     3385
29141     3340
29049     3228
Name: county_fips_code, dtype: int64

18 to 49 years    282063
50 to 64 years    108170
65+ years          78749
0 - 17 years       78149
NaN                 9780
Missing               11
Name: age_group, dtype: int64

Female     283042
Male       240228
NaN         31737
Unknown      1915
Name: sex, dtype: int64

White                            378232
NaN                               98771
Unknown                           47870
Black                             19008
Multiple/Other                    11309
Asian                              1544
Missing                             127
American Indian/Alaska Native        61
Name: race, dtype: int64

Non-Hispanic/Latino    359380
NaN                    109392
Unknown                 83805
Hispanic/Latino          4345
Name: ethnicity, dtype: int64

Missing                            556886
Clinical evaluation                    19
Contact tracing of case patient         5
Multiple                                4
Unknown                                 3
Routine surveillance                    2
Provider reported                       1
Laboratory reported                     1
Other                                   1
Name: process, dtype: int64

Missing         376658
Symptomatic     179731
Unknown            530
Asymptomatic         3
Name: symptom_status, dtype: int64

Unknown    543681
Yes         13103
No             98
Missing        40
Name: hosp_yn, dtype: int64

Missing    556304
Unknown       574
No             36
Yes             8
Name: icu_yn, dtype: int64

Unknown    546378
NaN          9320
Yes          1176
Missing        48
Name: death_yn, dtype: int64

NaN    555346
Yes      1576
Name: underlying_conditions_yn, dtype: int64

2021    216013
2020    215393
2022    125516
Name: year, dtype: int64

01    149663
12     87412
11     82570
09     50294
08     49966
10     48826
07     43772
06     15216
02     11904
04      6052
05      5740
03      5507
Name: month, dtype: int64

In [40]:
new = df.drop(['res_state', 'state_fips_code', 'case_positive_specimen_interval', 'case_onset_interval', 'current_status', 'process'], axis=1)

In [23]:
new

,case_month,res_county,county_fips_code,age_group,sex,race,ethnicity,exposure_yn,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2020-11,SHASTA,6089,18 to 49 years,Female,Multiple/Other,Non-Hispanic/Latino,Missing,Symptomatic,No,Missing,Missing,NaN
1,2020-12,MADERA,6039,18 to 49 years,Male,Multiple/Other,Non-Hispanic/Latino,Missing,Symptomatic,Yes,Missing,Missing,NaN
2,2021-01,NEVADA,6057,0 - 17 years,Female,White,Non-Hispanic/Latino,Missing,Symptomatic,No,Missing,Missing,NaN
3,2021-12,DEL NORTE,6015,18 to 49 years,Female,White,Non-Hispanic/Latino,Missing,Symptomatic,No,Missing,Missing,NaN
4,2021-07,MENDOCINO,6045,18 to 49 years,Female,White,Non-Hispanic/Latino,Missing,Symptomatic,No,Missing,Missing,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4376602,2021-01,LOS ANGELES,6037,18 to 49 years,Male,Asian,Non-Hispanic/Latino,Missing,Unknown,No,Missing,Missing,NaN
4376603,2021-01,LOS ANGELES,6037,18 to 49 years,Male,Asian,Non-Hispanic/Latino,Missing,Unknown,No,Missing,Missing,NaN
4376604,2021-01,LOS ANGELES,6037,18 to 49 years,Male,Asian,Non-Hispanic/Latino,Missing,Unknown,No,Missing,Missing,NaN
4376605,2021-01,LOS ANGELES,6037,18 to 49 years,Male,Asian,Non-Hispanic/Latino,Missing,Symptomatic,No,Missing,Missing,NaN
4376606,2021-01,LOS ANGELES,6037,18 to 49 years,Male,Asian,Non-Hispanic/Latino,Missing,Unknown,No,Missing,Missing,NaN

In [4]:
df['state_fips_code'].value_counts()

6    4376607
Name: state_fips_code, dtype: int64

In [12]:
df.memory_usage(index=True).sum()

665244392

In [13]:
new.memory_usage(index=True)

Index                            128
case_month                  35012856
res_county                  35012856
county_fips_code            35012856
age_group                   35012856
sex                         35012856
race                        35012856
ethnicity                   35012856
exposure_yn                 35012856
symptom_status              35012856
hosp_yn                     35012856
icu_yn                      35012856
death_yn                    35012856
underlying_conditions_yn    35012856
dtype: int64

In [14]:
new.to_csv('clean_data.csv',index=False)

In [15]:
new['age_group'].value_counts()

18 to 49 years    2358096
0 - 17 years       839675
50 to 64 years     748748
65+ years          423489
Missing              1265
Name: age_group, dtype: int64

In [37]:
ages ={'0 - 17 years':0,
       '18 to 49 years':1,
       '50 to 64 years':2,
      '65+ years':3,
      'Missing':-1,
       np.nan:-1
      }

In [41]:
new['age_group']=new['age_group'].replace(ages).astype(int)

In [42]:
new['age_group'].value_counts(dropna=False)

 1    2358096
 0     839675
 2     748748
 3     423489
-1       6599
Name: age_group, dtype: int64

In [43]:
new

,case_month,res_county,county_fips_code,age_group,sex,race,ethnicity,exposure_yn,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2020-11,SHASTA,6089,1,Female,Multiple/Other,Non-Hispanic/Latino,Missing,Symptomatic,No,Missing,Missing,NaN
1,2020-12,MADERA,6039,1,Male,Multiple/Other,Non-Hispanic/Latino,Missing,Symptomatic,Yes,Missing,Missing,NaN
2,2021-01,NEVADA,6057,0,Female,White,Non-Hispanic/Latino,Missing,Symptomatic,No,Missing,Missing,NaN
3,2021-12,DEL NORTE,6015,1,Female,White,Non-Hispanic/Latino,Missing,Symptomatic,No,Missing,Missing,NaN
4,2021-07,MENDOCINO,6045,1,Female,White,Non-Hispanic/Latino,Missing,Symptomatic,No,Missing,Missing,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4376602,2021-01,LOS ANGELES,6037,1,Male,Asian,Non-Hispanic/Latino,Missing,Unknown,No,Missing,Missing,NaN
4376603,2021-01,LOS ANGELES,6037,1,Male,Asian,Non-Hispanic/Latino,Missing,Unknown,No,Missing,Missing,NaN
4376604,2021-01,LOS ANGELES,6037,1,Male,Asian,Non-Hispanic/Latino,Missing,Unknown,No,Missing,Missing,NaN
4376605,2021-01,LOS ANGELES,6037,1,Male,Asian,Non-Hispanic/Latino,Missing,Symptomatic,No,Missing,Missing,NaN
4376606,2021-01,LOS ANGELES,6037,1,Male,Asian,Non-Hispanic/Latino,Missing,Unknown,No,Missing,Missing,NaN

In [44]:
new.to_csv('clean_data1.csv',index=False)